<config>
	<test driver="comp352.assignment.one.FibonacciVariantInspector" method="main" label="Check Fib Sequence">
		<args>9</args>

		<mark grade="10">
			<check label="sequence"><regex>1 1 1 1 4 4 7 16 19</regex></check>
		</mark>
		<mark grade="10">
			<check label="metadata"><regex>Calls: 31</regex></check>
		</mark>
	</test>
</config>
