<config>
	<test driver="ca.concordia.a3.HuffCode" method="main" label="Check Student Example 1 Encoding">
		<args>haiku1.txt encode</args>
		<input>binary,</input>
		<mark grade="10">
			<check label="Check encoded version"><regex>001000010101100000110101101001</regex></check>
		</mark>
	</test>

	<test driver="ca.concordia.a3.HuffCode" method="main" label="Check Student Example 1 Decoding">
		<args>haiku1.txt decode</args>
		<input>001000010101100000110101101001</input>
		<mark grade="10">
			<check label="Check decoded version"><regex>binary,</regex></check>
		</mark>
	</test>

	<test driver="ca.concordia.a3.HuffCode" method="main" label="Check Student Example 2 Encoding">
		<args>haiku2.txt encode</args>
		<input>sorting</input>
		<mark grade="10">
			<check label="Check encoded version"><regex>001011100011001011011100100</regex></check>
		</mark>
	</test>

	<test driver="ca.concordia.a3.HuffCode" method="main" label="Check Student Example 2 Decoding">
		<args>haiku2.txt decode</args>
		<input>001011100011001011011100100</input>
		<mark grade="10">
			<check label="Check decoded version"><regex>sorting</regex></check>
		</mark>
	</test>

</config>
